[profile.default]
src = "contracts"
out = "out"
libs = ["lib"]
solc_version = "0.8.31"
evm_version = "cancun"
optimizer = true
optimizer_runs = 200

[profile.default.fmt]
line_length = 120
tab_width = 4
bracket_spacing = true
